/* donasi.css */
.app {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-donate {
  background-color: #8B4513;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.btn-donate:hover {
  background-color: #A0522D; 
}

.hero {
  color: white;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-content-donate {
  position: relative;
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-image-donate {
  width: 100%;
  max-height: 360px;
  opacity: 0.8; /* Membuat gambar sedikit transparan */
}

.hero-text-donate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-text-donate h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hero-text-donate h1 {
  font-size: 48px;
  font-weight: bold;
}

.causes {
  padding: 50px 0;
}

.causes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

@media (max-width: 900px) {
  .causes-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .causes-grid {
    grid-template-columns: 1fr; 
  }
}

.cause-card {
  background-color: white;
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cause-card:hover {
  transform: translateY(-5px); 
}

.cause-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cause-content {
  padding: 20px;
}

.cause-content h3 {
  margin-bottom: 10px;
}

.cause-content p {
  margin-bottom: 20px;
}

footer {
  background-color: #900000;
  color: white;
  padding: 20px 0;
  text-align: center;
}
