html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #222;
}

.register-page {
  display: flex;
  min-height: 80vh; /* Cukup tinggi untuk menampung semua elemen */
  margin: 5vh auto; /* Berikan sedikit jarak dari atas dan bawah layar */
  width: 90vw; /* Berikan sedikit jarak dari kiri dan kanan layar */
  border-radius: 20px; /* Efek sudut melingkar */
  overflow: hidden; /* Pastikan konten tidak keluar dari batas */
  background-color: #333; /* Tambahkan warna latar belakang untuk membuat kontras */
  max-width: 1200px; /* Batasi lebar maksimum */
}

.image-section-2 {
  flex: 1;
  background: url('C:/Users/HP/tangan-kasih/src/pages/pages-img/tangan-sinar.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.image-section-2 ::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.form-section {
  flex: 1;
  padding: 20px; /* Sesuaikan padding agar tidak terlalu besar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

.logo {
  text-align: center;
  margin-bottom: 15px; /* Sesuaikan margin untuk menghemat ruang */
}

.title {
  text-align: center;
  margin-bottom: 20px; /* Sesuaikan margin untuk menghemat ruang */
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  text-align: left;
  margin-bottom: 5px;
}

.register-form input,
.register-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.dob-container {
  display: flex;
  justify-content: space-between;
}

.dob-container select {
  width: 32%;
  margin-bottom: 10px;
}

.register-button {
  background: #871a0c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}

.register-button:hover {
  background: #741609;
}

.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #1a73e8;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .register-page {
    flex-direction: column;
    height: auto;
  }

  .image-section,
  .form-section {
    width: 100%;
  }
}
