body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #3f1a16;
}

.register-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 20px;
  background: url('C:\Users\acer\tangankasih\FE_tangankasih\src\pages\pages-img\tangan-sinar.jpeg') no-repeat center center;
  background-size: cover; /* Ensures the image covers the entire container */
  background-color: #1e1e1e;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.image-section {
  flex: 1;
  background: url('C:\\Users\\HP\\tangan-kasih\\src\\pages\\pages-img\\tangan-sinar.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.image-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1; /* Make sure the overlay is above the background image */
}

.form-section {
  flex: 1;
  padding: 20px;
  color: #d9d9d9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 2rem; /* Increased font size for better readability */
  margin-bottom: 20px;
  text-align: left;
}

.title {
  margin-bottom: 20px;
  font-size: 1.5rem; /* Increased font size for better readability */
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  text-align: left;
  margin-bottom: 5px;
}

.register-form input,
.register-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.register-form input {
  background: #1e1e1e;
  color: #fff;
}

.register-form select {
  background: #1e1e1e;
  color: #fff;
}

.dob-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensure flexibility in smaller screens */
}

.dob-container select {
  width: 100%; /* Full width for smaller screens */
  margin-bottom: 10px; /* Spacing between selects */
}

.register-button {
  background: #871a0c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%; /* Full width button */
}

.register-button:hover {
  background: #741609;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  text-align: center; /* Center align login link */
}

.login-link a {
  color: #1a73e8;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .register-page {
    flex-direction: column; /* Stack sections on smaller screens */
    height: auto; /* Allow height to adjust based on content */
  }

  .image-section,
  .form-section {
    width: 100%; /* Full width on smaller screens */
  }
}
